@import "../../../Colors.scss";
.SideMenu {
  max-width: 30%;
  width: 35rem;
  height: 100%;
  background-color: $color-primary;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 25;
  padding: 3rem;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
}

.Navigation {
  display: flex;

  justify-content: center;
  height: 100%;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 20rem;
    align-items: center;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: rgba($color-white, 0.7);
    font-size: 1.4rem;
    padding: 0.2rem 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    border-left: 3px solid transparent;
    // border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in;
    font-weight: 700;
    &:active,
    &:hover {
      border-left: 3px solid $color-white !important;
      color: rgba($color-white, 1);
      //   border-bottom: 3px solid $color-white;
    }
  }
}
.active {
  border-left: 3px solid $color-white !important;
  color: rgba($color-white, 1) !important;
  //   border-bottom: 3px solid $color-white;
}

.toggle {
  transform: translateX(0%);
}
