@import "../../../../Colors.scss";
.Slider {
  width: 3rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}
.Number {
  display: flex;
  color: $color-white;
  cursor: pointer;
  align-items: center;
  position: relative;
  padding: 0.2rem 1rem;
  transition: all 1s ease-in-out;
  h3 {
    color: $color-white-light;
  }

  &:not(:last-of-type) {
    margin-bottom: 0.7rem;
  }
}
.Active {
  h3 {
    font-size: 2.3rem !important;
    color: $color-white;
  }
  &::before {
    content: "";
    width: 2rem;
    height: 0.5rem;
    background-color: currentColor;
    left: -70%;
    border-radius: 2rem;
    // transform: translateX(-100%);
    position: absolute;
  }
}
