@import "../../../../Colors.scss";
.MovieBox {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  //   margin-bottom: 0.5rem;
  // border-bottom: 0.1rem solid rgba($color-overlay, 0.2);
  background-color: rgba($color-white, 1);
  backdrop-filter: blur(10%);
  transition: all 0.2s ease-in;
  // border-radius: 0.5rem;

  overflow: hidden;

  &:hover {
    // box-shadow: 0.5rem 0.5rem 1rem rgba($color-overlay, 0.2);
    // transform: translateY(-0.3rem);
    background-color: $color-white-light;
    cursor: pointer;
  }

  &:not(:last-of-type) {
    // margin-bottom: 0.3rem;
  }
}

.Details {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem 1rem;
  color: $color-black-light;

  h3 {
    margin-bottom: 0.4rem;
  }
}

.ImgBox {
  width: 10rem;
  height: 100%;
  img {
    width: 100%;
    object-fit: cover;
    opacity: 0;
    height: 0;
  }
}
